/* librería de variables creadas para todo el sitio Web */

:root {
  --primary-color: black;
  --secundary-color: rgb(92, 92, 92);
  --titles-font: helvetica;
  --body_font: helvetica;
}

h1 {
  font-family: Helvetica;
  text-align: left;
  font-style: italic;
  text-transform: capitalize;
  margin-left: 30px;
}

.menu {
  font-family: Helvetica;
  color: black;
  margin-left: 10px;
  margin-top: 40px;
  display: inline-block;
}

.menu a {
  text-decoration: none;
  font-style: italic;
}

button {
  background-color: black;
  color: white;
  font-style: italic;
  font-weight: bold;
  padding: 15px;
  border-radius: 10px;
  margin: 20px;
}
.box {
  display: inline-block;
  align-items: center;
  text-align: center;
  width: 700px;
}

.normal {
  background-image: url(IMG/fondo\ nuevo.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.contacto {
  background-image: url(IMG/contacto.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.principal {
  background-image: url(IMG/imagen\ index.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
h3 {
  font-family: Helvetica;
  font-style: normal;
  text-align: justify;
  vertical-align: top;
}

h2 {
  font-family: Helvetica;
  font-style: normal;
  text-align: justify;
  vertical-align: top;
  font-style: italic;
}
div {
  display: inline-block;
  vertical-align: bottom;
}

.box1 {
  display: inline-block;
  align-items: center;
  width: 600;
}

.box2 {
  display: inline-block;
  align-items: center;
  text-align: center;
  width: 300;
  margin-left: 50;
  margin-right: 50;
}
h4 {
  font-family: Helvetica;
  font-style: italic;
  text-align: justify;
  vertical-align: top;
}
h5 {
  font-family: Helvetica;
  font-style: normal;
  text-align: justify;
  vertical-align: top;
}
